.evaluation {
    width: 70%;
    height: 100%;
    // background: blue;
    margin-left: 10rem;
    @media only screen and (max-width: 1024px)  {
        margin: 0;
        width: 100%;
        height: 100%;
    }
}